<div class="container-fluid">
  <!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  
</head>
<body>

<div class="container">
  <h2>Sample table</h2>
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Age</th>
        <th>Country</th>
      </tr>
    </thead>
    <tbody *ngFor="let obj of arrayresponse; let i=index">
      
      <tr class="success" *ngIf="i==0">
        <td>{{obj.name}}</td>
        <td>{{obj.age}}</td>
        <td>{{obj.country}}</td>
      </tr>
      <tr class="danger" *ngIf="i==1">
        <td>{{obj.name}}</td>
        <td>{{obj.age}}</td>
        <td>{{obj.country}}</td>
      </tr>
    </tbody>
  </table>
</div>

</body>
</html>


    <a  class="btn btn-primary" (click)="sub()">Submit</a>
  </div>